<p>
  <mat-toolbar color="primary">
    <span routerLink="/home">Home</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="{{'/'+role+'site'}}">{{role}}</button>
    <button mat-raised-button color="primary" routerLink="/login">{{email}}</button>
    <!--<span routerLink="{{'/'+role+'site'}}">{{role}}</span>
    <span routerLink="/login">{{email}}</span>-->
    <button mat-raised-button color="primary" *ngIf="authService.isLoggedIn$ | async" (click)="logout()">
      Log out
  </button>
  </mat-toolbar>
</p>
